@font-face {
    font-family: 'Gentium';
    src: url('../fonts/GentiumBookBasic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GentiumBold';
    src: url('../fonts/GentiumBookBasic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

$font-Gentium: 'Gentium',
sans-serif;
$font-GentiumBold: 'GentiumBold',
sans-serif;
$font-head: 'YesevaOne',
sans-serif; //use all header and most use menu section
$font-para: 'Lato',
sans-serif; //use paragraph and a tag